body, html {
  height: 100%;
}

.bg {
  background-color: black;

  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#basic
{
	background: white;
	border: solid 1px #9d9d9d
}

#paragraph
{
	font-family: georgia;
	font-size: 12px;
	color: #E2BF9C;
	letter-spacing:1.5pt;
}

#paragraph2
{
	font-family: georgia;
	font-size: 13px;
	color: #924D5D;
	letter-spacing:1.5px;
	font-style: italic;
}

#paragraphplain
{
		font-family:georgia;
		font-size:13px;
		color: black;
		font-style:bold;
}

#header
{
	font-family: georgia;
	font-size: 20px;
	color: #D4BDAE;
	letter-spacing:1.5px;
}

#sheader
{
	font-family: georgia;
	font-size: 20px;
	font-weight: bold;
	color: black;
	letter-spacing:1.5px;
}

#footer
{
	position:fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: black;
	color: white;
	text-align: center;
}

/* CSS FOR NAVIGATION BAR */

	nav{
		width:auto;
	}

	ul{
		margin:0;
		padding:0;
		padding-left:29%;
	
		display:flex;
		/*we have to use flex because otherwise it stays in a list format */
	}

	body{
		margin:0;
	}

	li{
		list-style-type:none;
	
		margin-right: 9%;
	}

	a{
		text-decoration: none;
	
		color:#D4BDAE;
		font-size:3vh;
	}

	a:hover{
		background-color: #38193D;
	}
	
/* new music function */

/* position absolute makes sure its totally separate from the code in the boxes! */
#background 
{
    position: absolute;
    height: 90%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; /*this stops it from taking up the whole background lol */
}

/* container for player */
.container 
{
    position: absolute;
    height: 170px;
    width: 335px;
    top: 70%;
    left: 73%;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

#thumbnail
{
    position: absolute;
    width: 103%;
    transition: 1s;
    z-index: 3;
}

.song-artist 
{
    position: absolute;
    z-index: 4;
    color: #FFAD32;
    font-family: georgia;
    font-weight: bold;
    font-size: 12px;
    bottom: 30%;
    left: 28%;
}

.song-title 
{
    position: absolute;
    z-index: 4;
    color: white;
    font-family: georgia;
    font-size: 12px;
    bottom: 20%;
    left: 28%;
}

#close 
{
	position:absolute;
	height:40px;
	width:40px;
	cursor: pointer;
	bottom:90%;
	z-index:4;
	font-size:50px;
	left:95%;
}

#close2
{
	color:white;
	cursor: pointer;
}

#play-pause 
{
    position: absolute;
    height: 40px;
    width: 40px;
    cursor: pointer;
    bottom: 17%;
    z-index: 4;
    font-size: 53px;
    left: 9%;
}

/* style for next and previous song images */
#next-song, #previous-song 
{
    position: absolute;
    height: 30px;
    width: 30px;
    filter: invert(1);
    cursor: pointer;
    bottom: 13.5%;
    font-size: 40px;
    z-index: 4;
}

/* unique style for next song image */
#next-song 
{
    right: 10%;
	bottom: 20%;
}

/* style for the progress bar */
#progress-bar 
{
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
    z-index: 4;
    height: 5px;
    background: #000000;
    width: 190pt;
    bottom: 5%;
    border-radius: 30px;
    left: 10%;
}

/* style for the progress bar's slider thumb */
#progress-bar::-webkit-slider-thumb 
{
    -webkit-appearance: none;
    margin-top: -3px;
    margin-left: 0px;
    height: 10px;
    width: 7px;
    border: 0;
    background: -webkit-linear-gradient(45deg,  rgb(249, 168, 76), rgb(249, 102, 76));
    cursor: pointer;
}

/* style for the progress bar's runnable track */
#progress-bar::-webkit-slider-runnable-track 
{
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    max-height: 5px;
}
